.error__item {
  text-align: center;
  h2 {
    font-size: 70px;
    line-height: 80px;
    margin-top: 120px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  p {
    font-size: 30px;
  }

}
.product__btn {

  margin: 30px auto 0;
  a {
    display: block;
  }
}
